.main::-webkit-scrollbar {
    display: none;
}

.home {
    height: 90vh;
    width: 100%;
    display: flex;

    .options {
        height: 100%;
        width: 15%;
        border-right: 1px solid $colorLightGray;
    }

    .main {
        height: 100%;
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
    }
}