.content::-webkit-scrollbar {
    display: none;
}

.main {
    height: 88vh;
    width: 100%;
    display: flex;

    @include optionsNav;

    .content {
        height: 100%;
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
    }
}