@mixin optionsNav {
    .options {
        height: 100%;
        width: 15%;
        border-right: 1px solid $colorLightGray;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 20px;
            color: $colorDarkGray;
            border: 1px solid $colorDarkGray;
            padding-top: 15px;
            width: 200px;
            height: 60px;
            text-align: center;
            margin-bottom: 30px;
            border-radius: 20px;
            transition: all .3s;

            &:hover {
                background-color: $colorDarkGray;
                color: $colorWhite;
            }
        }
    }
}

@mixin buttonGrayToDark {
    width: 200px;
    height: 60px;
    font-size: 25px;
    text-transform: uppercase;
    border: 1px solid $colorDarkGray;
    border-radius: 5px;
    background-color: $colorGray;
    color: $colorWhite;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background-color: $colorDarkGray;
    }
}