<style>
    .profileImage{
        background-image:url("profileImages/<%= user.profileImage %>");
    }
</style>

<nav class="nav">
    <div class="profileImageAndName">
        <div class="profileImage">
        </div>
        
        <h1 class="logo"> <%= user.firstName+" " + user.lastName %> </h1>
    </div>
    <form action="/logout" method="post" class="form"> 
        <button type="submit">logout</button>
    </form>    
</nav>