<nav class="nav">
    <h1 class="logo">Image <%= user.firstName+" " + user.lastName %> </h1>
    <form action="/logout" method="post" class="form"> 
        <button type="submit">logout</button>
    </form>    
</nav>