<%- include('../partials/header'); -%> 

<%- include("../partials/logedInNav"); -%>

    <div class="main">
        <%- include("../partials/optionsNav"); -%>
        <div class="content">
            <h1>friends page</h1>
        </div>
    </div>



<%- include('../partials/footer'); -%>