<%- include('../partials/header'); -%> 
<!-- <%= user %> -->

<nav class="nav">
    <h1 class="logo">Connect</h1>
    <form action="/logout" method="post" class="form"> 
        <button type="submit">logout</button>
    </form>    
</nav>

<div class="home">
    
</div>



<%- include('../partials/footer'); -%>