<%- include('../partials/header'); -%> 

<%- include("../partials/logedInNav"); -%>

<div class="main">
    <%- include("../partials/optionsNav"); -%>
    <div class="content">
        
    </div>
</div>



<%- include('../partials/footer'); -%>